$cf_blue: #2F5A7C;
$cf_navy: #33466B;
$cf_red: #9B0E0E;
$cf_gray: #666666;
$cf_light_gray: #F2F4F4;
$cf_black: #333333;
$cf_gold: #A08332;


/* フォント読込 */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

// ブレイクポイントを指定
$pc: 1080px;
$tab: 768px;
$sp: 480px;

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
main {
  margin-top: 100px;
  @include pc {
    margin-top: 44px;
  }
  #news {
    padding: 70px 0 100px;
    background: $cf_light_gray;
    ol {
      li {
        padding-bottom: 50px;
        border-bottom: 1px dotted $cf_black;
        margin-bottom: 50px;
        .news_info {
          display: flex;
          gap: 1rem;
          align-items: center;
          .category {
            background: $cf_navy;
            color: #ffffff;
            text-align: center;
            width: 90px;
            padding: 3px;
            border-radius: 3px;
            line-height: 1.1;
          }
        }
        h2 {
          font-weight: bold;
          font-size: 1.3rem;
          margin: 20px 0 30px;
          @include sp {
            font-size: 1.1rem;
          }
        }
        img {
          margin-top: 2rem;
          width: 300px;
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}