@charset "UTF-8";
/* フォント読込 */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333333;
  width: 100%;
  background-size: 100%;
  font-family: 'Yu Gothic', sans-serif;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
  line-height: 1.8;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14.5px;
  }
}

body.no_scroll {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body div, body h1, body h2, body h3, body h4, body h5, body h6, body p, body ol, body ul {
  margin: 0;
  padding: 0;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body img {
  vertical-align: bottom;
}

body .grid_ctn {
  display: -ms-grid;
  display: grid;
}

body .flex_ctn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body .btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .base_width {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto 0;
}

body .second_width {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
}

body .pc_only {
  display: block;
}

@media screen and (max-width: 768px) {
  body .pc_only {
    display: none;
  }
}

body .pc_tab_only {
  display: block;
}

@media screen and (max-width: 480px) {
  body .pc_tab_only {
    display: none;
  }
}

body .sp_tab_only {
  display: none;
}

@media screen and (max-width: 768px) {
  body .sp_tab_only {
    display: block;
  }
}

body .sp_only {
  display: none;
}

@media screen and (max-width: 480px) {
  body .sp_only {
    display: block;
  }
}

body .inline_block {
  display: inline-block;
}

body .f_mincho {
  font-family: 'Yu Mincho', serif;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Noto Serif JP", "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

@media screen and (max-width: 480px) {
  body .f_mincho {
    font-weight: normal;
  }
}

body .js-animation {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

body .js-animation.is-show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

body .p_title {
  background: url(../img/p_title_back.jpg);
  background-size: cover;
}

body .p_title h1 {
  font-size: 1.8rem;
  color: #ffffff;
  line-height: 3;
}

@media screen and (max-width: 768px) {
  body .p_title h1 {
    font-size: 1.5rem;
  }
}

body .sct_title {
  text-align: center;
  font-size: 2rem;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  body .sct_title {
    font-size: 1.6rem;
  }
}

body .sct_title::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background: #2F5A7C;
  margin: 10px auto 0;
}

body .breadcrumbs {
  padding: 10px 0;
}

body .breadcrumbs.gray {
  background: #F2F4F4;
}

body .breadcrumbs ol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body .breadcrumbs ol a {
  margin-right: 24px;
  cursor: pointer;
  position: relative;
  color: #2F5A7C;
}

body .breadcrumbs ol a::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 7px;
  right: -15px;
}

body .breadcrumbs ol a:hover {
  text-decoration: underline;
}

body .main_btn {
  border-radius: 100px;
  border: solid 1px #333333;
  padding: 10px 0px 10px 10px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

body .main_btn::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #333333;
  border-right: 0;
  margin-right: 5px;
}

body .main_btn:hover {
  background: #333333;
  color: #ffffff;
}

body .main_btn:hover::after {
  border-left: 7px solid #ffffff;
}

body .sub_btn {
  height: 30px;
  border-radius: 100px;
  border: solid 1px #333333;
  padding: 5px 10px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

body .sub_btn.join::before {
  content: url(../img/join_b.svg);
  display: block;
  width: 16px;
}

body .sub_btn.contact::before {
  content: url(../img/contact_b.svg);
  display: block;
  width: 16px;
}

body .sub_btn:hover {
  background: #333333;
  color: #ffffff;
}

body .sub_btn:hover.join::before {
  content: url(../img/join_w.svg);
}

body .sub_btn:hover.contact::before {
  content: url(../img/contact_w.svg);
}

body #top_btn_icon {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 95px;
  right: 10px;
  z-index: 20;
  cursor: pointer;
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*このクラスが付与されると表示する*/
}

body #top_btn_icon.active {
  opacity: 1;
  visibility: visible;
}

body #top_btn_icon:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0.9;
}

body #top_btn_icon img {
  width: 100%;
}

body #kyoka_order_btn {
  position: fixed;
  top: 35%;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #A08332;
  color: #fff;
  padding: 20px 14px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  z-index: 20;
  cursor: pointer;
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*このクラスが付与されると表示する*/
}

body #kyoka_order_btn.active {
  opacity: 1;
  visibility: visible;
}

body #kyoka_order_btn:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0.9;
}

body #hurry_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.7);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #hurry_container img {
  width: 90vw;
  max-width: 400px;
}

body #hurry_container #hurry_inner {
  background: #ffffff;
  border-radius: 5px;
  width: 90vw;
  max-width: 400px;
}

body #hurry_container #hurry_inner h2 {
  background: #9B0E0E;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media screen and (max-width: 480px) {
  body #hurry_container #hurry_inner h2 {
    font-size: 1.1rem;
  }
}

body #hurry_container #hurry_inner p {
  padding: 1rem 1rem 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.4;
}

@media screen and (max-width: 480px) {
  body #hurry_container #hurry_inner p {
    font-size: 0.9rem;
  }
}

body #hurry_container #hurry_inner .tel {
  font-size: 3.1rem;
  font-weight: bold;
  line-height: 1;
  padding: 0 1rem 0.5rem;
  color: #9B0E0E;
  font-family: 'Bahnschrift', serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body #hurry_container #hurry_inner .tel a {
  font-size: 2.7rem;
  color: #9B0E0E;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  body #hurry_container #hurry_inner .tel {
    display: none;
  }
}

body #hurry_container #hurry_inner .tel::before {
  content: url(../img/freedial_r.svg);
  display: block;
  width: 60px;
}

body #hurry_container #hurry_inner .tel_point_ctn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  gap: 10px;
  padding: 0 1rem 1rem;
}

@media screen and (max-width: 480px) {
  body #hurry_container #hurry_inner .tel_point_ctn {
    padding: 0.2rem 1rem 0.8rem;
  }
}

body #hurry_container #hurry_inner .tel_point_ctn .tel_point {
  background: #9B0E0E;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  body #hurry_container #hurry_inner .tel_point_ctn .tel_point {
    color: #9B0E0E;
    background: #ffffff;
    border: 2px solid #9B0E0E;
  }
}

body #hurry_container #hurry_inner .btn_ctn {
  padding: 0 1rem 1.5rem;
}

body #hurry_container #hurry_inner .btn_ctn button {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 100%;
  height: 60px;
  cursor: pointer;
}

body #hurry_container #hurry_inner .btn_ctn button.tel_btn {
  display: none;
  color: #ffffff;
  background: #9B0E0E;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 5px;
  -webkit-box-shadow: 0px 6px 0px -2px #680909;
          box-shadow: 0px 6px 0px -2px #680909;
}

@media screen and (max-width: 480px) {
  body #hurry_container #hurry_inner .btn_ctn button.tel_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

body #hurry_container #hurry_inner .btn_ctn button.tel_btn::before {
  content: url(../img/tel_icon.svg);
  display: block;
  width: 20px;
}

body #hurry_container #hurry_inner .btn_ctn button.tel_btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

body #hurry_container #hurry_inner .btn_ctn button.tel_btn a {
  color: #ffffff;
}

body #hurry_container .close {
  width: 200px;
  max-width: 90%;
  background: #ffffff;
  margin: 1.5rem auto 0;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

body #hurry_container.view {
  opacity: 1;
  pointer-events: auto;
}

body #menu_content .menu_inner {
  background: #fff;
  width: 600px;
  max-width: 100%;
  height: 100%;
  padding: 10px 5%;
  position: fixed;
  top: 0;
  right: -600px;
  z-index: 90;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: scroll;
  scrollbar-width: none;
}

body #menu_content .menu_inner::-webkit-scrollbar {
  display: none;
}

body #menu_content .menu_inner img {
  width: 100%;
}

body #menu_content .menu_inner img.logo {
  width: 220px;
  max-width: 60%;
  margin: 0 auto;
  display: block;
}

body #menu_content .menu_inner ul {
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  body #menu_content .menu_inner ul {
    margin-top: 60px;
  }
}

body #menu_content .menu_inner ul li {
  border-top: 1px solid #666666;
  font-weight: bold;
}

body #menu_content .menu_inner ul li:last-of-type {
  border-bottom: 1px solid #666666;
}

body #menu_content .menu_inner ul li a {
  padding: 15px 5%;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

body #menu_content .menu_inner ul li a::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #666666;
  border-right: 2px solid #666666;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 43%;
  right: 5%;
}

body #menu_content .menu_inner .btn_ctn {
  margin-top: 2rem;
}

body #menu_content .menu_inner .btn_ctn .sub_btn {
  margin-top: 1rem;
  width: 200px;
}

@media screen and (max-width: 480px) {
  body #menu_content .menu_inner .btn_ctn .sub_btn {
    width: 100%;
    height: 50px;
  }
}

body #menu_content .menu_inner .fukushi_bunner_ctn {
  margin: 4rem 0 4rem;
}

body #menu_content .menu_inner .fukushi_bunner_ctn p {
  font-size: 1.3rem;
}

@media screen and (max-width: 480px) {
  body #menu_content .menu_inner .fukushi_bunner_ctn p {
    font-size: 5vw;
  }
}

body #menu_content .menu_inner .fukushi_bunner_ctn p::before, body #menu_content .menu_inner .fukushi_bunner_ctn p::after {
  bottom: 5px;
}

body #menu_content.open .menu_inner {
  right: 0;
}

body #menu_content.open #overlay {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 80;
}

body .fukushi_bunner_ctn {
  text-align: center;
}

body .fukushi_bunner_ctn p {
  font-size: 1.6rem;
  padding: 0 1rem;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  body .fukushi_bunner_ctn p {
    font-size: 5.5vw;
  }
}

body .fukushi_bunner_ctn p::before {
  content: "";
  display: block;
  width: 1px;
  height: 1.5rem;
  border-right: 1px solid #333333;
  position: absolute;
  bottom: 10px;
  left: 5px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

body .fukushi_bunner_ctn p::after {
  content: "";
  display: block;
  width: 1px;
  height: 1.5rem;
  border-right: 1px solid #333333;
  position: absolute;
  bottom: 10px;
  right: 5px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

body .fukushi_bunner_ctn .fukushi_bunner {
  width: 100%;
  border-radius: 16px;
  -webkit-box-shadow: 0px 8px 0px -2px #1d2c44;
          box-shadow: 0px 8px 0px -2px #1d2c44;
}

@media screen and (max-width: 480px) {
  body .fukushi_bunner_ctn .fukushi_bunner {
    border-radius: 10px;
  }
}

body .fukushi_bunner_ctn .fukushi_bunner:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

body #ichinichiso,
body #hanasaidan,
body #futsukaso,
body #chokuso,
body #kasosiki,
body #news li {
  scroll-margin-top: 200px;
  /* ヘッダーの高さ分の余白を追加 */
}

@media screen and (max-width: 768px) {
  body #ichinichiso,
  body #hanasaidan,
  body #futsukaso,
  body #chokuso,
  body #kasosiki,
  body #news li {
    scroll-margin-top: 140px;
  }
}

body header {
  background: #ffffff;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(191, 191, 191, 0.4);
          box-shadow: 0px 6px 10px 0px rgba(191, 191, 191, 0.4);
}

body header .header_inner {
  width: 95vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 800px;
      grid-template-columns: 1fr 800px;
  gap: 5px;
  padding-top: 10px;
}

@media screen and (max-width: 1080px) {
  body header .header_inner {
    -ms-grid-columns: 160px 1fr;
        grid-template-columns: 160px 1fr;
    padding-top: 0;
    padding-right: 0;
    gap: 20px;
  }
}

body header .header_inner .header_l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .header_inner .header_l img {
  width: 220px;
}

@media screen and (max-width: 1080px) {
  body header .header_inner .header_l img {
    width: 160px;
  }
}

body header .header_inner .header_l #header_card {
  font-size: 0.8rem;
  width: 210px;
  padding: 0px 15px 5px 10px;
  text-align: center;
  border-right: 1px solid #333333;
}

@media screen and (max-width: 1400px) {
  body header .header_inner .header_l #header_card {
    display: none;
  }
}

body header .header_inner .header_l #header_card.short {
  display: none;
}

body header .header_inner .header_l #header_card ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}

body header .header_inner .header_l #header_card ul li {
  border: 1px solid #333333;
  padding: 3px;
  line-height: 1.1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-weight: normal;
  color: #666666;
  background: #ffffff;
}

body header .header_inner .header_r .header_rt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 1080px) {
  body header .header_inner .header_r .header_rt {
    display: none;
  }
}

body header .header_inner .header_r .header_rt.short {
  display: none;
}

body header .header_inner .header_r .header_rt .sub_btn {
  margin-right: 10px;
}

@media screen and (max-width: 1080px) {
  body header .header_inner .header_r .header_rt .sub_btn {
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

body header .header_inner .header_r .header_rt .tel {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  border-left: 1px solid #333333;
  padding-left: 10px;
  color: #33466B;
  font-family: 'Bahnschrift', serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1080px) {
  body header .header_inner .header_r .header_rt .tel {
    border: none;
  }
}

body header .header_inner .header_r .header_rt .tel::before {
  content: url(../img/freedial_n.svg);
  display: block;
  width: 47px;
}

body header .header_inner .header_r .header_rt .tel_point {
  color: #33466B;
  border-radius: 5px;
  border: 1px solid #33466B;
  text-align: center;
  padding: 5px;
  line-height: 1.1;
  margin-left: 5px;
  font-size: 0.8rem;
}

body header .header_inner .header_r .header_rb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header_inner .header_r .header_rb nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1080px) {
  body header .header_inner .header_r .header_rb nav ul {
    display: none;
  }
}

body header .header_inner .header_r .header_rb nav ul li {
  margin-right: 18px;
  line-height: 1.5;
  position: relative;
}

body header .header_inner .header_r .header_rb nav ul li::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #33466B;
  bottom: -1px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*変形の時間*/
}

body header .header_inner .header_r .header_rb nav ul li:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  /*ホバー後、x軸方向に1（相対値）伸長*/
}

body header .header_inner .header_r .header_rb button {
  background: #9B0E0E;
  color: #fff;
  text-align: center;
  width: 200px;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

body header .header_inner .header_r .header_rb button img {
  width: 18px;
}

body header .header_inner .header_r .header_rb button p {
  letter-spacing: 1px;
  font-size: 1rem;
  padding-top: 2px;
}

body header .header_inner .header_r .header_rb button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  body header .header_inner .header_r .header_rb button {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  body header .header_inner .header_r .header_rb button {
    display: none;
  }
}

body header .header_inner .header_r .header_rb .hb_btn_area {
  display: none;
}

@media screen and (max-width: 1080px) {
  body header .header_inner .header_r .header_rb .hb_btn_area {
    display: block;
    width: 44px;
    height: 44px;
    margin-right: 20px;
  }
}

body #hb_btn {
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  position: fixed;
  top: 0;
  right: 10px;
  display: none;
  z-index: 100;
}

@media screen and (max-width: 1080px) {
  body #hb_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

body #hb_btn:hover {
  cursor: pointer;
}

body #hb_btn span,
body #hb_btn span:before,
body #hb_btn span:after {
  content: '';
  display: block;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: #333333;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  /*アニメーション設定*/
}

body #hb_btn span:before {
  bottom: 10px;
}

body #hb_btn span:after {
  top: 10px;
}

body #hb_btn.open span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

body #hb_btn.open span::before {
  bottom: 0;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

body #hb_btn.open span::after {
  top: 0;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

body footer .footer_t {
  padding: 50px 0 50px;
}

body footer .footer_t .base_width {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  gap: 40px 30px;
}

@media screen and (max-width: 768px) {
  body footer .footer_t .base_width {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body footer .footer_t .base_width .footer_l img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

body footer .footer_t .base_width .footer_r_pc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px 180px;
      grid-template-columns: 180px 180px;
  gap: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 1080px) {
  body footer .footer_t .base_width .footer_r_pc {
    -ms-grid-columns: 180px 180px;
        grid-template-columns: 180px 180px;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  body footer .footer_t .base_width .footer_r_pc {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  body footer .footer_t .base_width .footer_r_pc {
    display: none;
  }
}

body footer .footer_t .base_width .footer_r_pc .footer_rl > li,
body footer .footer_t .base_width .footer_r_pc .footer_rc > li {
  margin-bottom: 5px;
}

body footer .footer_t .base_width .footer_r_pc .footer_rl > li .sub_lst,
body footer .footer_t .base_width .footer_r_pc .footer_rc > li .sub_lst {
  font-size: 0.8rem;
  margin-left: 12px;
}

@media screen and (max-width: 480px) {
  body footer .footer_t .base_width .footer_r_pc .footer_rr {
    margin-top: 2rem;
  }
}

body footer .footer_t .base_width .footer_r_pc .footer_rr .sub_btn {
  width: 160px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  padding: 5px 10px;
}

body footer .footer_t .base_width .footer_insta {
  line-height: 1.8rem;
  font-size: 1.1rem;
}

body footer .footer_t .base_width .footer_insta .insta_icon {
  width: 1.8rem;
  margin-right: 0.5rem;
}

body footer .footer_t .base_width .footer_r_sp {
  display: none;
}

@media screen and (max-width: 480px) {
  body footer .footer_t .base_width .footer_r_sp {
    display: block;
  }
}

body footer .footer_t .base_width .footer_r_sp ul li {
  border-top: 1px solid #666666;
  font-weight: bold;
}

body footer .footer_t .base_width .footer_r_sp ul li:last-of-type {
  border-bottom: 1px solid #666666;
}

body footer .footer_t .base_width .footer_r_sp ul li a {
  padding: 15px 5%;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

body footer .footer_t .base_width .footer_r_sp ul li a::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #666666;
  border-right: 2px solid #666666;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 43%;
  right: 5%;
}

body footer .footer_t .base_width .footer_r_sp .btn_ctn {
  margin-top: 2rem;
}

body footer .footer_t .base_width .footer_r_sp .btn_ctn .sub_btn {
  margin-top: 1rem;
  width: 100%;
  height: 50px;
}

body footer .footer_t .base_width .footer_r_sp .footer_insta {
  margin-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .footer_b {
  padding: 20px 0 110px;
  background: #333333;
  color: #fff;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  body footer .footer_b .second_width {
    width: 300px;
  }
}

body footer .footer_b h3 {
  font-size: 1rem;
  padding-bottom: 10px;
}

body footer .footer_b ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
  body footer .footer_b ul {
    display: block;
  }
}

body footer #fixed_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  background: #33466B;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  opacity: 0;
  margin-bottom: -100px;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*このクラスが付与されると表示する*/
}

body footer #fixed_footer.active {
  opacity: 1;
  margin-bottom: 0;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  body footer #fixed_footer {
    background: rgba(0, 0, 0, 0.5);
    border: none;
  }
}

@media screen and (max-width: 1080px) {
  body footer #fixed_footer {
    opacity: 1;
    margin-bottom: 0;
    visibility: visible;
  }
}

body footer #fixed_footer .second_width {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px 90px 250px;
      grid-template-columns: 1fr 70px 90px 250px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 880px) {
  body footer #fixed_footer .second_width {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  body footer #fixed_footer .second_width {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

body footer #fixed_footer .second_width .tel {
  font-size: 3.1rem;
  font-weight: bold;
  line-height: 1;
  font-family: 'Bahnschrift', serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 2px;
}

body footer #fixed_footer .second_width .tel a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2.8rem;
}

body footer #fixed_footer .second_width .tel::before {
  content: url(../img/freedial_w.svg);
  display: block;
  width: 65px;
}

@media screen and (max-width: 768px) {
  body footer #fixed_footer .second_width .tel {
    display: none;
  }
}

body footer #fixed_footer .second_width .tel_point {
  border-radius: 5px;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 5px;
  line-height: 1.1;
  margin-left: 5px;
  font-size: 0.8rem;
}

@media screen and (max-width: 880px) {
  body footer #fixed_footer .second_width .tel_point {
    display: none;
  }
}

body footer #fixed_footer .second_width button {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 250px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body footer #fixed_footer .second_width button {
    width: 300px;
  }
}

body footer #fixed_footer .second_width button.tel_btn {
  display: none;
  color: #ffffff;
  background: #33466B;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 5px;
  -webkit-box-shadow: 0px 6px 0px -2px #1d2c44;
          box-shadow: 0px 6px 0px -2px #1d2c44;
}

@media screen and (max-width: 768px) {
  body footer #fixed_footer .second_width button.tel_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

body footer #fixed_footer .second_width button.tel_btn::before {
  content: url(../img/tel_icon.svg);
  display: block;
  width: 16px;
}

body footer #fixed_footer .second_width button.tel_btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

body footer #fixed_footer .second_width button.tel_btn a {
  color: #ffffff;
}

body footer #fixed_footer .second_width button.oisogi {
  background: #9B0E0E;
  color: #ffffff;
  margin-left: 20px;
  -webkit-box-shadow: 0px 6px 0px -2px #680909;
          box-shadow: 0px 6px 0px -2px #680909;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: relative;
}

@media screen and (max-width: 480px) {
  body footer #fixed_footer .second_width button.oisogi {
    margin-left: 10px;
  }
}

body footer #fixed_footer .second_width button.oisogi img {
  width: 16px;
}

body footer #fixed_footer .second_width button.oisogi p {
  line-height: 1;
}

@media screen and (max-width: 768px) {
  body footer #fixed_footer .second_width button.oisogi p span {
    display: none;
  }
}

body footer #fixed_footer .second_width button.oisogi::before {
  content: 'ご相談は無料です';
  display: block;
  position: absolute;
  top: -25px;
  left: 5%;
  background: #ffffff;
  color: #9B0E0E;
  border-radius: 100px;
  border: 2px solid #9B0E0E;
  padding: 3px 0;
  font-size: 0.9rem;
  width: 90%;
}

@media screen and (max-width: 480px) {
  body footer #fixed_footer .second_width button.oisogi::before {
    content: 'ご相談無料';
  }
}

body footer #fixed_footer .second_width button.oisogi::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid #ffffff;
  border-bottom: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 45%;
}

body footer #fixed_footer .second_width button.oisogi:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
/*# sourceMappingURL=common.css.map */