@charset "UTF-8";
/* フォント読込 */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
main {
  margin-top: 100px;
}

@media screen and (max-width: 1080px) {
  main {
    margin-top: 44px;
  }
}

main .firstview_ctn {
  position: relative;
}

main .firstview_ctn .firstview {
  width: 100%;
  height: 50vw;
  max-height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}

@media screen and (max-width: 768px) {
  main .firstview_ctn .firstview {
    height: 100vw;
    max-height: initial;
    -o-object-position: 61% 50%;
       object-position: 61% 50%;
  }
}

@media screen and (max-width: 480px) {
  main .firstview_ctn .firstview {
    height: 140vw;
  }
}

main .firstview_ctn p {
  position: absolute;
  bottom: 70px;
  right: 5vw;
  color: #333333;
  font-size: 1.8rem;
  background: #ffffff;
  padding: 0 0 0 1rem;
  font-weight: bold;
}

main #concept {
  padding: 100px 0 120px;
}

@media screen and (max-width: 1080px) {
  main #concept {
    padding: 75px 0 75px;
  }
}

@media screen and (max-width: 480px) {
  main #concept {
    padding: 55px 0 75px;
  }
}

main #concept h1 {
  padding-bottom: 50px;
  font-size: 2rem;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  main #concept h1 {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 480px) {
  main #concept h1 {
    font-size: 6vw;
  }
}

main #concept .concept_atc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  main #concept .concept_atc {
    display: block;
  }
}

main #concept .concept_atc .concept_stc {
  line-height: 2;
}

@media screen and (max-width: 768px) {
  main #concept .concept_atc .main_btn {
    margin-top: 60px;
    width: 200px;
    margin-left: auto;
  }
}

main #concept .director_ctn .director {
  width: 100%;
  max-width: 450px;
  margin: 30px 0 30px;
}

main #concept .director_ctn .director.sp_only {
  max-width: 300px;
  margin: 30px auto;
}

main #news {
  background: #F2F4F4;
  padding: 70px 0 80px;
}

@media screen and (max-width: 768px) {
  main #news {
    padding: 75px 0 75px;
  }
}

main #news ol {
  width: 100%;
  padding: 50px 0;
}

main #news ol li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 1fr;
      grid-template-columns: 240px 1fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px 20px;
  padding: 20px 0;
  border-bottom: 1px dotted #666666;
}

@media screen and (max-width: 768px) {
  main #news ol li {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main #news ol li .news_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  main #news ol li .news_title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

main #news ol li .news_title .date {
  width: 100px;
}

main #news ol li .news_title .category {
  background: #33466B;
  color: #ffffff;
  text-align: center;
  width: 100px;
  font-size: 0.9rem;
  border-radius: 3px;
}

main #news ol li .atc {
  line-height: 1.6;
}

main #news ol li .atc:hover {
  text-decoration: underline;
}

main #news .main_btn {
  margin-left: auto;
  width: 200px;
}

main #plan {
  padding: 100px 0 130px;
}

@media screen and (max-width: 768px) {
  main #plan {
    padding: 75px 0 90px;
  }
}

main #plan h2 {
  margin-top: 80px;
  text-align: center;
  font-size: 1.3rem;
}

main #plan p {
  text-align: center;
}

main #plan .plan_ctn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  main #plan .plan_ctn {
    display: block;
  }
}

main #plan .plan_ctn .plan_itm {
  width: 300px;
  background: #ffffff;
  border-radius: 5px;
  border: solid 1px #2F5A7C;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(191, 191, 191, 0.4);
          box-shadow: 3px 3px 10px 0px rgba(191, 191, 191, 0.4);
}

@media screen and (max-width: 480px) {
  main #plan .plan_ctn .plan_itm {
    width: 100%;
    margin-bottom: 50px;
  }
}

main #plan .plan_ctn .plan_itm h3 {
  width: 100%;
  background: #2F5A7C;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
}

main #plan .plan_ctn .plan_itm h3 span {
  font-size: 1.6rem;
}

main #plan .plan_ctn .plan_itm .plan_itm_b {
  padding: 1rem;
}

main #plan .plan_ctn .plan_itm .plan_itm_b.osusume {
  position: relative;
}

main #plan .plan_ctn .plan_itm .plan_itm_b .osusume_icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 35%;
  max-width: 100px;
}

main #plan .plan_ctn .plan_itm .plan_itm_b img {
  width: 100%;
}

main #plan .plan_ctn .plan_itm .plan_itm_b h4 {
  text-align: center;
  background: #E8E8E8;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0px 0;
}

main #plan .plan_ctn .plan_itm .plan_itm_b .members_price {
  color: #A08332;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0 0;
  text-align: right;
}

@media screen and (max-width: 480px) {
  main #plan .plan_ctn .plan_itm .plan_itm_b .members_price {
    font-size: 16vw;
  }
}

main #plan .plan_ctn .plan_itm .plan_itm_b .members_price .f_small {
  font-size: 0.5em;
  position: relative;
}

main #plan .plan_ctn .plan_itm .plan_itm_b .members_price .f_small::after {
  content: '(税抜)';
  position: absolute;
  top: -12px;
  left: 0;
  font-size: 12px;
}

main #plan .plan_ctn .plan_itm .plan_itm_b .members_price_tax {
  color: #666666;
  text-align: right;
  font-size: 1.3rem;
  line-height: 1;
  padding-top: 5px;
  font-weight: bold;
}

main #plan .plan_ctn .plan_itm .plan_itm_b .plan_flow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  padding-top: 0.8rem;
}

main #plan .plan_ctn .plan_itm .plan_itm_b .plan_flow li {
  width: 100%;
  text-align: center;
  color: #CECECE;
  border: 1px dashed #666666;
}

main #plan .plan_ctn .plan_itm .plan_itm_b .plan_flow li.contain {
  background: #2F5A7C;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

main #plan .plan_lp {
  margin-bottom: 130px;
}

@media screen and (max-width: 768px) {
  main #plan .plan_lp {
    margin-bottom: 75px;
  }
}

main #plan .plan_lp h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  main #plan .plan_lp h2 {
    display: block;
  }
}

main #plan .plan_lp h2::before {
  content: '安心価格';
  display: block;
  width: 100px;
  text-align: center;
  color: #ffffff;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-size: 0.9rem;
  background: #33466B;
  padding: 3px 0;
}

@media screen and (max-width: 480px) {
  main #plan .plan_lp h2::before {
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  main #plan .plan_lp p {
    text-align: left;
  }
}

main #plan .plan_lp .ayumino {
  text-align: center;
  font-size: 1.6rem;
  margin: 8rem auto 0;
  padding: 1.5rem;
  border: 1px solid #333333;
  line-height: 1.4;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  main #plan .plan_lp .ayumino {
    margin-top: 5rem;
    font-size: 1.4rem;
  }
}

main #plan .plan_lp .ayumino span {
  padding-left: 1rem;
}

@media screen and (max-width: 480px) {
  main #plan .plan_lp .ayumino span {
    padding: 0;
    display: block;
  }
}

main #hall {
  background: #F2F4F4;
}

main #hall .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  overflow: hidden;
}

main #hall .wrap .slideshow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: loop-slide 40s infinite linear 1s both;
          animation: loop-slide 40s infinite linear 1s both;
}

main #hall .wrap .slideshow .content {
  width: 200px;
  height: 150px;
}

main #hall .wrap .slideshow .content:nth-child(1) {
  background-image: url(../img/chuofukushikaikan.jpg);
  background-size: cover;
}

main #hall .wrap .slideshow .content:nth-child(2) {
  background-image: url(../img/chuofukushikaikan_1.jpg);
  background-size: cover;
}

main #hall .wrap .slideshow .content:nth-child(3) {
  background-image: url(../img/chuofukushikaikan_2.jpg);
  background-size: cover;
}

main #hall .wrap .slideshow .content:nth-child(4) {
  background-image: url(../img/chuofukushikaikan_3.jpg);
  background-size: cover;
}

main #hall .wrap .slideshow .content:nth-child(5) {
  background-image: url(../img/chuofukushikaikan_4.jpg);
  background-size: cover;
}

main #hall .wrap .slideshow .content:nth-child(6) {
  background-image: url(../img/chuofukushikaikan_5.jpg);
  background-size: cover;
}

main #hall .wrap .slideshow .content:nth-child(7) {
  background-image: url(../img/chuofukushikaikan_6.jpg);
  background-size: cover;
}

main #hall .wrap .slideshow .content:nth-child(8) {
  background-image: url(../img/chuofukushikaikan_7.jpg);
  background-size: cover;
}

@-webkit-keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

main #hall > img {
  width: 100%;
}

main #hall .base_width {
  padding: 120px 0 100px;
}

@media screen and (max-width: 768px) {
  main #hall .base_width {
    padding: 75px 0 75px;
  }
}

main #hall .base_width .hall_atc {
  padding-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
}

@media screen and (max-width: 768px) {
  main #hall .base_width .hall_atc {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main #hall .base_width .hall_atc iframe {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main #hall .base_width .hall_atc iframe {
    height: 300px;
  }
}

main #hall .base_width .hall_atc .hall_info h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

main #hall .base_width .hall_atc .hall_info ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  gap: 0 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  main #hall .base_width .hall_atc .hall_info ul li {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main #hall .base_width .hall_atc .hall_info ul li h3 {
  font-size: 1rem;
}

main #hall .base_width .hall_atc .hall_info .main_btn {
  width: 200px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  main #hall .base_width .hall_atc .hall_info .main_btn {
    margin-left: auto;
  }
}

main #hall .base_width .kuchikomi {
  margin-top: 100px;
}
/*# sourceMappingURL=style.css.map */