.page {
  .page-block {
    @include wrapWidth(var(--width_header));
    @include paddingBottom(80, 30);
    @include paddingTop(60, 20);
    @extend .page-tag;
  }
}

// 404
.page-404 {
  .page-404-block {
    @include wrapWidth(var(--width_post));
    @include paddingTop(60, 20);
    @include paddingBottom(120, 60);

    .page-404__h {
      @extend .heading_dotted;
      text-align: center;
    }

    .page-404__p {
      @include marginTop(40, 20);
      @include fsVw(18, 14);
      font-weight: 500;
      text-align: center;
    }

    .page-404__link {
      @include marginTop(60, 40);
      @extend .btn_round;
    }
  }
}

.page-line {
  background-color: var(--color_small-gray);
  .line-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(54, 30);
    @include paddingBottom(54, 30);
  }
}
