.contact-display {
  @include marginTop(60, 20);
  .display-block {
    @include wrapWidth(var(--width_header));
    .display-wrap {
      border-radius: 10px;
      border: 2px solid var(--color_line);
      background-color: var(--color_light-mango);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        right: 0.5%;
        top: -26%;
        width: 25%;
        height: 125%;
        background-image: url('../images/line-phone.svg');
        background-size: contain;
        background-repeat: no-repeat;
        @media (max-width: $md) {
          top: -7%;
          width: 90px;
        }
      }
      .display-head {
        color: var(--color_white);
        @include fsVw(34, 24);
        font-weight: 700;
        line-height: 1.7;
        padding: 0.35em 0.85em;
        background-color: var(--color_line);
        .display-cap {
          font-size: 64.7%;
          display: block;
        }
      }
      .display-body {
        font-size: 24px;
        width: 80%;
        @media (max-width: $md) {
          width: 100%;
        }
        @include fsVw(23, 14);
        font-weight: 700;
        line-height: 1.7;
        padding-top: 0.54em;
        padding-bottom: 1em;
        padding-left: 1.25em;
        .display__p {
          margin-bottom: 0.54em;
        }
        .display-list {
          .display-item {
            font-size: 20px;
            @include fsVw(20, 12);
            font-weight: 500;
            line-height: 1.6;
            .bi {
              color: var(--color_line);
              margin-right: 0.5em;
            }
          }
        }
      }
    }
  }
}

.contact-method {
  @include marginTop(67, 30);
  .method-block {
    @include wrapWidth(var(--width_header));
    .method-head {
      .method__h {
        @extend .heading_bar_small;
      }
    }
    .method-body {
      @include marginTop(-32, -10);
      .method-content {
        @include paddingTop(72, 25);
        .method__h-sub {
          @extend .heading_bar_short;
        }
        .method__p {
          font-size: 18px;
          @include fsVw(18, 14);
          font-weight: 500;
          line-height: 1.7;
          margin-top: 1em;
        }
        .method__link {
          @include paddingTop(32, 20);
          .link_line-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color_line);
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 6px solid #007d33;
            max-width: 460px;
            height: 92px;
            box-sizing: content-box;
            @media (max-width: $md) {
              height: 74px;
            }
            &:hover {
              margin-top: 4px;
              border-bottom-width: 2px;
            }
            .line__img-btn {
              height: 74px;
              @media (max-width: $md) {
                height: 60px;
              }
            }
          }
          .line__img {
            display: block;
            width: 193px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.contact-flow {
  @include marginTop(67, 20);
  .flow-block {
    @include wrapWidth(var(--width_header));
    .flow-head {
      .flow__h {
        @extend .heading_bar_small;
      }
    }
    .flow-body {
      @include marginTop(60, 30);
      margin-left: auto;
      margin-right: auto;
      max-width: 840px;
      .flow-content {
        @include marginTop(53, 30);
        border-radius: 10px;
        border: 2px solid var(--color_dark-blue);
        @include paddingTop(40, 20);
        @include paddingBottom(40, 20);
        @include paddingLeft(80, 15);
        @include paddingRight(80, 15);
        position: relative;
        .flow-inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .flow-start {
            width: 30%;
            @media (max-width: $md) {
              width: 40%;
            }
            .flow-img-wrap {
              .flow__img {
                width: 100%;
                height: auto;
              }
            }
          }
          .flow-end {
            width: 56%;
            .flow__h-sub {
              color: var(--color_white);
              font-family: var(--ff_osw);
              @include fsVw(26, 20);
              height: 2.5em;
              width: 2.5em;
              background-color: var(--color_dark-blue);
              border-radius: 50%;
              font-weight: 500;
              line-height: 1.2;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              position: absolute;
              top: -1.25em;
              left: calc(50% - 1.25em);
              .flow-cap {
                display: block;
                @include fsVw(14, 12);
                font-weight: 400;
              }
            }
            .flow__p {
              font-size: 18px;
              @include fsVw(18, 14);
              font-weight: 500;
              line-height: 1.7;
            }
          }
        }
      }
    }
  }
}

.contact-line {
  @include marginTop(60, 20);
  background-color: var(--color_small-gray);
  .line-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(54, 10);
    @include paddingBottom(54, 30);
  }
}
