.faq-faq {
  background-color: var(--color_small-gray);
  .faq-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(54, 10);
    @include paddingBottom(66, 30);
    .faq-content-item {
      display: block;
      @include marginTop(60, 20);
    }
  }
}

.faq-line {
  @include marginTop(60, 20);
  background-color: var(--color_small-gray);
  .line-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(54, 10);
    @include paddingBottom(54, 30);
  }
}
