.membership-prepare {
  .prepare-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(60, 20);
    .prepare-head {
      .prepare__h {
        @extend .heading_bar_small;
      }
      .prepare__p {
        @include fsVw(16, 14);
        font-weight: 500;
        line-height: 1.7;
        margin-top: 1.5em;
        @media (max-width: $md) {
          margin-top: 1em;
        }
      }
    }
    .prepare-body {
      @include marginTop(40, 20);
      .prepare-price-wrap {
        max-width: 657px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        border: 1px solid var(--color_primary);
        background: var(--color_small-gray);
        border-radius: 0.5em;
        @include fsVw(19, 16);
        font-weight: 500;
        line-height: 1.7;
        @include paddingTop(30, 20);
        @include paddingBottom(30, 20);
        @include paddingLeft(100, 10);
        @include paddingRight(100, 10);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .prepare-price-list {
          display: flex;
          align-items: center;
          .prepare-price-title {
            color: var(--color_white);
            padding: 0.15em 0.5em;
            background: var(--color_primary);
            margin-right: 1em;
          }
          .prepare-price-description {
            .color_dark {
              @include fsVw(28, 20);
              font-weight: 700;
            }
            .size_lg {
              color: var(--color_red);
              font-family: var(--ff_osw);
              @include fsVw(44, 20);
              font-weight: 500;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}

.membership-service {
  .service-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(60, 20);
    .service-head {
      .service__h {
        @extend .heading_bar_small;
      }
    }
    .service-body {
      @include marginTop(20, 10);
      .service-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .service-item {
          width: 30.6%;
          @media (max-width: $md) {
            width: 48%;
          }
          border-radius: 10px;
          background: var(--color_mint-gray);
          border-radius: 10px;
          @include marginTop(40, 20);
          .item-wrap {
            padding-top: 100%;
            position: relative;
            .item-content {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              .item-num {
                color: var(--color_mint);
                font-family: var(--ff_osw);
                @include fsVw(62, 28);
                font-weight: 700;
                line-height: 1;
                position: absolute;
                top: -0.5em;
                left: 0.15em;
              }
              .item-title-wrap {
                width: 90%;
                height: 40%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                .item__h {
                  @include fsVw(18, 14);
                  font-weight: 500;
                  line-height: 1.6;
                  text-align: center;
                  .size_lg {
                    color: var(--color_red);
                    @include fsVw(26, 16);
                  }
                  .size_primary {
                    color: var(--color_primary);
                    @include fsVw(22, 16);
                  }
                }
              }
              .item-img-wrap {
                width: 70%;
                height: 50%;
                position: relative;
                .item__img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  object-fit: contain;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.membership-form {
  .form-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(60, 20);
    @include paddingBottom(80, 20);
    .form-head {
      .form__h {
        @extend .heading_bar_small;
      }
      .form__p {
        @include fsVw(16, 14);
        font-weight: 500;
        line-height: 1.7;
        margin-top: 1.5em;
        @media (max-width: $md) {
          margin-top: 1em;
        }
      }
    }
    .form-body {
      @include marginTop(40, 20);
      .form-wrap {
        max-width: var(--width_form);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--color_small-gray);
        @include paddingTop(40, 20);
        @include paddingBottom(40, 20);
        @include paddingLeft(110, 10);
        @include paddingRight(110, 10);
        .form-bar__img {
          display: block;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
        .form-counter-sticky {
          top: 140px;
          position: sticky;
          width: 200px;
          margin: 1rem 0 0 auto;
          z-index: 1;
          @media (max-width: $md) {
            width: 220px;
          }
          .form-counter {
            background-color: var(--color_red);
            padding: 0.5rem 1em;
            border-radius: 6px;
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;
            .counter_text {
              font-size: 14px;
              color: var(--color_white);
              margin-right: 0.5em;
            }
            .counter_num {
              font-size: 24px;
              color: var(--color_white);
            }
          }
        }
        #contact-form-request {
          label:has(
              + .wpcf7-form-control-wrap input.wpcf7-validates-as-required
            ),
          label:has(
              + .wpcf7-form-control-wrap textarea.wpcf7-validates-as-required
            ),
          label:has(
              + .wpcf7-form-control-wrap
                select[name='your-family'].wpcf7-validates-as-required
            ),
          label:has(
              + .wpcf7-form-control-wrap
                select[name='your-birth-year'].wpcf7-validates-as-required,
              + .wpcf7-form-control-wrap
                select[name='your-birth-month'].wpcf7-validates-as-required,
              + .wpcf7-form-control-wrap
                select[name='your-birth-day'].wpcf7-validates-as-required
            ),
          label:has(+ .wpcf7-form-control-wrap .wpcf7-radio) {
            &:after {
              content: '必須';
              display: inline-block;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: var(--color_white);
              background: var(--color_primary);
              border-radius: 6px;
              padding: 0 8px;
              margin-left: 10px;
              vertical-align: middle;
            }
          }
          label:has(
              + .wpcf7-form-control-wrap
                input.add_data.wpcf7-validates-as-required
            ),
          label:has(
              + .wpcf7-form-control-wrap
                textarea.add_data.wpcf7-validates-as-required
            ),
          label:has(
              + .wpcf7-form-control-wrap
                select[name='your-family'].add_data.wpcf7-validates-as-required
            ),
          label:has(
              + .wpcf7-form-control-wrap
                select[name='your-birth-year'].add_data.wpcf7-validates-as-required
            ):has(
              + .wpcf7-form-control-wrap
                + .wpcf7-form-control-wrap
                select[name='your-birth-month'].add_data.wpcf7-validates-as-required
            ):has(
              + .wpcf7-form-control-wrap
                + .wpcf7-form-control-wrap
                + .wpcf7-form-control-wrap
                select[name='your-birth-day'].add_data.wpcf7-validates-as-required
            ),
          label:has(+ .wpcf7-form-control-wrap .wpcf7-radio.add_data) {
            &:after {
              content: '入力済';
              display: inline-block;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: var(--color_white);
              background: var(--color_red);
              border-radius: 6px;
              padding: 0 8px;
              margin-left: 10px;
            }
          }

          input[type='text'],
          input[type='email'],
          input[type='tel'],
          textarea,
          select {
            outline: 2px solid var(--color_mini-gray);
          }
          input.wpcf7-validates-as-required,
          textarea.wpcf7-validates-as-required,
          select.wpcf7-validates-as-required {
            outline: none;
            border: 2px solid var(--color_red);
            &.add_data {
              border: 2px solid var(--color_mini-gray);
            }
          }
          .wpcf7-radio {
            input {
              border: 2px solid var(--color_red);
            }
            &.add_data {
              input {
                border: 2px solid var(--color_mini-gray);
              }
            }
          }
        }
      }
    }
  }
}

.membership-line {
  background-color: var(--color_small-gray);
  .line-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(54, 10);
    @include paddingBottom(54, 20);
  }
}
