.header-nav {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.single-relation-display {
  .display-block {
    @include paddingTop(60, 10);
    @include wrapWidth(var(--width_header));
    .display-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .display-start {
        flex-grow: 1;
        .display-cap {
          color: var(--color_white);
          @include fsVw(20, 14);
          font-weight: 500;
          background-color: var(--color_red);
          height: 2.05em;
          padding: 0 0.5em;
          border-radius: 0.3em;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 0.5em;
        }
        .display__h {
          color: var(--color_dark-blue);
          @include fsVw(24, 18);
          font-weight: 700;
          .sizes_lg {
            color: var(--color_dark);
            font-size: 34px;
            @include fsVw(34, 28);
            font-weight: 700;
            margin-top: 0.1em;
            display: inline-block;
          }
        }
        .display__p {
          @include fsVw(20, 16);
          font-weight: 700;
          margin-top: 0.3em;
        }
      }
      .display-end {
        flex-grow: 1;
        .display-line-wrap {
          .display__link {
            max-width: 464px;
            width: 100%;
            display: block;
            text-align: center;
            background-color: var(--color_line);
            border-radius: 10px;
            margin-left: auto;
            margin-right: 0;
            border-bottom: 6px solid #007d33;
            overflow: hidden;
            &:hover {
              margin-top: 4px;
              border-bottom-width: 2px;
            }
          }
        }
      }
    }
    .display-body {
      @include marginTop(38, 20);
      .swiper-wrapper {
        align-items: stretch !important;
      }
      .swiper-slide {
        height: auto;
      }
      .display-slide__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 70px;
        height: 70px;
        background-color: var(--color_dark-blue);
        border-radius: 50%;
        @media (max-width: $md) {
          width: 40px;
          height: 40px;
        }
      }
      .swiper-button-prev {
        left: 5%;
        @media (max-width: $md) {
          left: 1%;
        }
      }
      .swiper-button-next {
        right: 5%;
        @media (max-width: $md) {
          right: 1%;
        }
      }

      .swiper-button-next:after,
      .swiper-button-prev:after {
        font-family: 'bootstrap-icons';
        @include fsVw(20, 12);
        color: var(--color_white);
        line-height: 1;
      }
      .swiper-button-next:after {
        content: '\F285';
      }
      .swiper-button-prev:after {
        content: '\F284';
      }
    }
    .display-icon {
      @include marginTop(20, 20);
      .display-icon-list {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $md) {
          justify-content: space-around;
        }
        .display-icon-item {
          margin: 0 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          @media (max-width: $md) {
            margin: 0;
          }
          .display-icon__img {
            @media (max-width: $md) {
              width: 40px;
              height: 40px;
              margin: 0;
            }
          }
          .display-icon-title {
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            margin-top: 0.3em;
            // @media (max-width: $md) {
            //   font-size: 10px;
            // }
          }
        }
      }
    }
  }
}

.single-relation-ban-tel {
  .tel-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(72, 20);
    @include paddingBottom(40, 10);
  }
}

.single-relation-overview {
  .overview-block {
    @include wrapWidth(var(--width_header));
    @include paddingBottom(80, 20);
    .overview-body {
      @include marginTop(24, 20);
      @extend .page-tag;
      th {
        white-space: nowrap;
      }
    }
    .overview-head {
      .overview__h {
        @include marginTop(60, 20);
        @extend .heading_bar_small;
      }
    }
    .overview-map {
      @include marginTop(24, 20);
      .ovewrview-ifame {
        width: 100%;
        height: 458px;
        @media (max-width: $md) {
          height: 360px;
        }
      }
    }
  }
}

.single-relation-description {
  .description-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(10, 20);
    .description-head {
      .description__h {
        @extend .heading_dotted;
        text-align: center;
        color: var(--color_dark-blue);
      }
    }
    .description-body {
      @include marginTop(60, 20);
      .description-img-wrap {
        padding-top: 51%;
        position: relative;
        .description__img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .description-text-wrap {
        display: flex;
        width: 85%;
        position: relative;
        margin-top: -85px;
        margin-left: auto;
        margin-right: auto;
        @include paddingTop(40, 20);
        @include paddingBottom(40, 20);
        @include paddingLeft(34, 15);
        @include paddingRight(34, 15);
        flex-direction: column;
        align-items: center;
        background: var(--color_white);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
        @media (max-width: $lg) {
          width: 95%;
          margin-top: -35px;
        }
        @media (max-width: $md) {
          margin-top: 20px;
          width: 100%;
        }
        .description__h {
          color: var(--color_dark-blue);
          @include fsVw(30, 18);
          font-weight: 500;
          text-align: center;
        }
        .description__p {
          text-align: justify;
          @include fsVw(18, 14);
          font-weight: 500;
          line-height: 1.7;
          margin-top: 0.667em;
        }
      }
    }
  }
}
.single-relation-hall {
  .hall-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(72, 20);
  }
}
.single-relation-relation {
  .relation-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(72, 20);
    @include paddingBottom(72, 20);
  }
}
.single-relation-plan {
  background-color: var(--color_small-gray);
  .plan-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(60, 20);
    @include paddingBottom(80, 20);
  }
}

.single-relation-line {
  background-color: var(--color_small-gray);
  .line-block {
    @include wrapWidth(var(--width_header));
    @include paddingTop(54, 10);
    @include paddingBottom(54, 20);
  }
}
